
{include file="public/nav" /}

<!-- /section:settings.box -->
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS 网页内容开始-->
		<div class="alert alert-block alert-success">
			<button type="button" class="close" data-dismiss="alert">
				<i class="ace-icon fa fa-times"></i>
			</button>

			<i class="ace-icon fa fa-check green"></i>

			Welcome to
			<strong class="green">
				Ace
				<small>(v1.3.3)</small>
			</strong>,
			the lightweight, feature-rich and easy to use admin template.
		</div>
		<!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->
<div id="text-table-neirong"></div>
{include file="public/footer" /}

<script>
    $("#text-table-neirong").load("{:url('surname/f')}");
</script>